/*==========  Desktop First Method  ==========*/


@media screen and (min-width:1700px) {
 .contacts {
    text-align: right;
    padding: 30px 150px 0;
    margin-bottom: 75px;
}
    

}

@media screen and (max-width:1200px) {
    .special img{
        width: 130px;
        margin-top: 26px;
    }
    
    .create .item{
        margin-left: 23%;
    }
    
   .form-wrap-bottom .middle{
        text-align: center !important;
    }
    .mandarin {
        float: right;
        position: relative;
        right: 0%;
        margin-bottom: -84px;
        bottom: 115px;
    }
    
    footer {
        height: 332px;
        background-color: #d9effa;
    }
    

}

@media screen and (max-width:1250px) {
  .form-wrap-bottom {
    margin-top: 50px !important;
    margin: 0 auto;
    width: 1050px;
    color: #787c7e;
}
    

}




@media screen and (max-width:960px) {
    
}


@media screen and (max-width:1395px) {
   footer input {
        width: 210px;
    }
    
   footer button {
        width: 230px;
        font-size: 20px !important;
        margin: 0px;
        padding: 0;
    }
    
    .form-wrap {
        margin: 0 auto;
        width: 950px;
    }

}


@media screen and (max-width:1180px) {
    
    footer input {
        width: 160px;
        height: 40px;
    }
    
   footer button {
        width: 180px;
        font-size: 17px !important;
        margin: 3px 0 0 0;
        padding: 0;
        height: 40px;
    }
    
    .form-wrap {
        margin: 0 auto;
        width: 750px;
    }
        *::-webkit-input-placeholder {
        color: #666;
        opacity: 1;
        font-size: 15px;
        }
        *:-moz-placeholder {
            color: #666;
            opacity: 1;
            font-size: 15px;
        }
        *::-moz-placeholder {
            color: #666;
            opacity: 1;
            font-size: 15px;
        }
        *:-ms-input-placeholder {
            color: #666;
            opacity: 1;
            font-size: 15px;
        }
    
        .video {
            width: 600px;
            margin: 60px auto 0;
    }


}




/* Medium Devices, Desktops */
@media only screen and (max-width : 1000px){
 .special img{
      width: 70px;
        margin-top: 60px;
    } 
    .special ul {
        position: absolute;
        padding: 0;
    }
    .desc {
        color: rgb(102, 0, 0);
        text-align: center;
        height: 100px;
        font-size: 12px;
        line-height: 17px;
        margin-top: 10px;
    }
    .bestseller {
        height: 540px;
    }
    
    .bestseller img{
        position: absolute;
        left: 295px;
        bottom: 50px;
    }
    .bestseller p{
        margin: 25px auto;
    }
    
    
    
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 970px) {
    footer{
           height: 480px;
        }
        footer form {
            padding-top: 25px;
        }
        .form-wrap {
            margin: 0 auto;
            width: 200px;
        }
    footer input {
        width: 180px;
        height: 40px;
    }
    
    .form-wrap-bottom {
        margin-top: 50px !important;
        margin: 0 auto;
        width: 550px;
        color: #787c7e;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}